@import "./colorPrimary.scss";

.container-buy-phone {
}

.buy-phone-name {
  margin-top: 27px;
  font-size: 2.2rem;
  color: #333;
  font-weight: bold;
  text-transform: capitalize;
}
.buy-phone-product {
  display: flex;
  margin: 18px 0 41px;
}
.buy-phone-product-img {
  width: 360px;
  height: 360px;
  margin-left: -14px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.buy-phone-product-info {
  margin-left: 50px;
  flex: 1;
  background-color: #fff;
  padding: 14px 15px 4px;
  border-radius: 6px;
  box-shadow: 0 0 4px #ccc;
}
.buy-phone-product-info-price {
}
.buy-phone-product-info-price-new {
  font-size: 25px;
  color: #fd475a;
  font-weight: bold;
  text-transform: lowercase;
}
.buy-phone-product-info-price-vat {
  font-size: 15px;
  margin-left: 5px;
  color: #333;
  font-weight: 400;
}

.buy-phone-product-info-freeShip {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primarryColor;
  padding: 0.2px 0;
  margin-top: 10px;
  border-radius: 4px;
  box-shadow: 0 0 3px #ccc;
  cursor: pointer;
}
.buy-phone-product-info-freeShip-icon {
  font-size: 32px;
  color: #fff;
}
.buy-phone-product-info-freeShip-text {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 400;
  margin-left: 8px;
  position: relative;
  top: 1px;
}
.buy-phone-product-option {
}
.buy-phone-product-option-text {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333;
  padding: 8px 0;
}
.buy-phone-product-option-phone {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.buy-phone-product-option-phone-list {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  color: #333;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.1s linear;
  &:hover {
    border: 1px solid #ff6801;
  }
}
.buy-phone-product-option-phone-list-active {
  border: 1px solid $primarryColor;

  &:hover {
    border: 1px solid $primarryColor;
  }
  .buy-phone-product-option-phone-GB::before {
    background-color: $primarryColor;
    border-color: #00483d;
  }
}

.buy-phone-product-option-phone-GB {
  position: relative;
  padding: 8px 0 6px 25px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 4px;
    top: 42%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #ccc;
  }
}

.buy-phone-product-option-phone-icon-check {
  display: block;
  position: absolute;
  left: 6.6px;
  top: 44%;
  font-size: 10.7px;
  font-weight: bold;
  transform: translateY(-50%);
  color: #fff;
}
.buy-phone-product-option-phone-price {
  color: #fd475a;
  font-weight: bold;
  padding: 0 20.1px 4px 6px;
  text-transform: lowercase;
}

.buy-phone-product-promotion-text {
  font-size: 1.4rem;
  color: #009a82;
  font-weight: bold;
  padding: 14px 0 6px 0px;
}
.buy-phone-product-promotion-content {
  list-style-type: none;
  font-size: 1.3rem;
}
.buy-phone-product-promotion-list {
  // display: flex;
  // flex-direction: column;
  margin-bottom: 11px;
}
.buy-phone-product-promotion-list-icon {
  display: inline-block;
  padding: 2px 5px;
  background-color: #f7941e;
  box-shadow: 0 4px 6px #00000029;
  color: #fff;
  border-radius: 3px;
  font-size: 1.1rem;
}
.buy-phone-product-promotion-list-content {
  display: block;
  color: #00483d;
  line-height: 28px;
  transition: all 0.1s linear;
  &:hover {
    color: #ff6801;
    cursor: pointer;
  }
}

.buy-phone-product-action {
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
}
.buy-phone-product-action-buy {
  text-align: center;
  color: $whiteColor;
  background: transparent linear-gradient(180deg, #fd475a 0%, #bf1e2d 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0 4px 6px #00000029;
  border-radius: 3px;
  padding: 0px 35.1px;
  cursor: pointer;
  transition: all 0.3s linear;
  p {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 6px 0 4px;
    text-transform: uppercase;
  }
  span,
  strong {
    display: block;
    font-size: 1.1rem;
    font-weight: 300;
  }
  strong {
    font-weight: 300;
    padding: 5px 0;
  }

  &:hover {
    background: transparent linear-gradient(0deg, #fd475a 0%, #bf1e2d 100%) 0% 0% no-repeat padding-box;
  }
}
.buy-phone-product-action-add-cart {
  background: transparent linear-gradient(180deg, #ff990e 0%, #ff6801 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0 4px 6px #00000029;
  color: $whiteColor;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s linear;
  padding: 0 50px;
  p {
    font-size: 1.1rem;
  }
  &:hover {
    background: transparent linear-gradient(0deg, #ff990e 0%, #ff6801 100%) 0% 0% no-repeat padding-box;
  }
}
.buy-phone-product-action-add-cart-icon {
  font-size: 3.1rem;
  padding: 4px 0 3px 0;
}
.buy-phone-warranty {
  padding: 0 23px;
}
.buy-phone-warranty-heading {
  color: #333;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding-bottom: 9px;
  text-align: center;
}
.buy-phone-warranty-info {
  display: flex;
  align-items: center;
  margin-bottom: 13px;

  cursor: pointer;
  &:hover .buy-phone-warranty-text {
    color: #009a82;
  }
}
.buy-phone-warranty-icon {
  color: #009a82;
  font-size: 2rem;
}
.buy-phone-warranty-text {
  max-width: 223px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
  transition: all 0.2s linear;
}

// khi click vào để xem tất cả thông tin để lựa chọn
.buy-phone-click-overlay {
  display: none;
  // display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 400;
  justify-content: center;
  align-items: center;
}
.buy-phone-click-curent {
  background-color: #fff;
  max-width: 1200px;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
  display: flex;
  margin: 19px 0;
  min-height: 979px;
  position: relative;
}
.buy-phone-click-wrap-img {
  flex: 1;
  padding-top: 29px;
}
.buy-phone-click-img {
  width: 290px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
.buy-phone-click-img-info {
}
.buy-phone-click-img-info-title {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}
.buy-phone-click-img-info-title-buy {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}
.buy-phone-click-img-info-option {
  color: #aaa;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 5px;
  .buy-phone-click-img-info-option-text1 {
    text-transform: capitalize;
  }
}
.buy-phone-click-img-info-price {
  color: #fd475a;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 9px;
}
.buy-phone-product-promotion-click-buy {
  margin: 7px 0 0 48px;
}

.buy-phone-product-promotion-list-content-click-buy {
  padding: 8px 20px 8px 55px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  position: relative;
}
.buy-phone-product-promotion-list-content-click-buy-icon {
  position: absolute;
  font-size: 1.6rem;
  content: "";
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #009981;
}
.buy-phone-product-promotion-list-content-click-buy::before {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  width: 23.3px;
  height: 23.3px;
  border-radius: 50%;
  border: 2px solid #009981;
  box-shadow: 0 0 2px #ccc;
}

.buy-phone-product-promotion-list-clik-buy {
  margin-bottom: 21px;
}
.buy-phone-click-wrap-info-price {
  flex: 1;
  margin: 48px 68px 0 0;
}
.buy-phone-click-wrap-info-price-title {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 1.7rem;
}
.buy-phone-click-wrap-info-price-number {
}
.buy-phone-click-wrap-info-price-number-text {
  font-size: 1.4rem;
  padding-bottom: 9px;
}
.buy-phone-click-wrap-info-price-number-option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
}
.buy-phone-click-wrap-info-price-number-option-btn {
  border: 1px solid #c4c4c4;
  cursor: pointer;
  padding: 4px 6px;
  transition: all 0.2s linear;
  &:hover {
    background-color: #009981;
    color: #fff;
  }
}
.buy-phone-click-wrap-info-price-number-option-input {
  width: 29px;
  text-align: center;
  padding: 2.1px 0;
  pointer-events: none;
}
.buy-phone-click-wrap-info-price-number-option-btn {
}
.buy-phone-click-wrap-info-price-form-user {
  margin-top: 13px;
}
.info-name {
  position: relative;
  margin-bottom: 20px;
}
.input-checkVaildate {
  display: none;
  position: absolute;
  bottom: -16px;
  left: 6px;
  color: red;
  font-size: 1.2rem;
}
.info-name-label {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
  display: block;
}
.info-name-input {
  padding: 6px;
  font-size: 1.3rem;
  border-radius: 13px;
  outline: none;
  background: #e5e5e5 0% 0% no-repeat padding-box;
  border: 1px solid #e5e5e5;
  width: 100%;
}
.info-number {
  display: flex;
  align-items: center;
  margin-top: 13px;
  margin-bottom: 21px;
}

.info-number-phone {
  flex: 1;
  margin-right: 10px;
  position: relative;
}
.info-number-phone-label {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
  display: block;
}

.info-number-phone-input {
  padding: 6px;
  font-size: 1.3rem;
  border-radius: 13px;
  outline: none;
  background: #e5e5e5 0% 0% no-repeat padding-box;
  border: 1px solid #e5e5e5;
  width: 100%;
}
.info-number-mail {
  flex: 1;
  position: relative;
}
.info-number-phone-mail {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
  display: block;
  margin-left: 3px;
}
.info-number-phone-mail-input {
  padding: 6px;
  font-size: 1.3rem;
  border-radius: 13px;
  outline: none;
  background: #e5e5e5 0% 0% no-repeat padding-box;
  border: 1px solid #e5e5e5;
  width: 100%;
}
.info-address {
  margin-top: 20px;
}
.info-address-text {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}

.info-address-wrap-select {
  display: flex;
  margin-bottom: 21px;
}
.wrap-select {
  flex: 1;
  position: relative;
}
.wrap-select-1 {
  margin-right: 10px;
}

.info-address-select {
  flex: 1;
  padding: 6px;
  font-size: 1.3rem;
  border-radius: 13px;
  outline: none;
  background: #e5e5e5 0% 0% no-repeat padding-box;
  border: 1px solid #e5e5e5;
  width: 100%;
  color: #444;
  margin-right: 10px;
}
.info-address-shop {
  flex: 1;
  flex: 1;
  padding: 6px;
  font-size: 1.3rem;
  border-radius: 13px;
  outline: none;
  background: #e5e5e5 0% 0% no-repeat padding-box;
  border: 1px solid #e5e5e5;
  width: 100%;
  color: #444;
}

.wrap-textarea {
  margin-top: 13px;
  position: relative;

  textarea {
    min-height: 60px;

    max-height: 102px;
    padding: 8px;
    outline: none;
    width: 100%;
    font-size: 1.3rem;
    background: #e5e5e5 0% 0% no-repeat padding-box;
    border-radius: 13px;
    border: 1px solid #e5e5e5;
  }
}
.wrap-btn-buy-phone {
  text-align: center;
  p {
    color: #333;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 28px 0 -10px 0;
  }
}
.buy-phone-btn {
  margin-top: 30px;
  padding: 10px 50px;
  border-radius: 5px;
  outline: none;
  background: transparent linear-gradient(180deg, #009981 0%, #00483d 100%) 0% 0% no-repeat padding-box;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #fff;
  transition: all 0.3s ease-in;
  &:hover {
    cursor: pointer;
    background: transparent linear-gradient(0deg, #009981 0%, #00483d 100%) 0% 0% no-repeat padding-box;
  }
}

.btn-out-page-buy-phone {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px 5.6px;
  font-size: 2.5rem;
  font-weight: bold;
  background: #fd5465;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 1px #ccc;
  transition: all 0.2s linear;
  &:hover {
    cursor: pointer;
    background: #e62d40;
  }
}
