@import "./colorPrimary.scss";
@import "./heading.scss";
@import "./slider.scss";
@import "./container.scss";
@import "./footer.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #f4f4f4;
}
// .activeBody {
//   background-color: #c2c3c4;
// }
// app
.app {
  min-height: 50vh;
  position: relative;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(194, 195, 196, 0.4);
}
// heading
//
// heading-nav
