@charset "UTF-8";
.heading-nav-item {
  list-style-type: none;
  font-size: 1.6rem;
  background-color: #00483d;
  display: flex;
  justify-content: center;
  padding: 6px 0;
}
.heading-nav-list {
  margin-right: 16px;
}
.heading-nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  text-transform: capitalize;
  transition: all 0.1s linear;
}
.heading-nav-link:hover {
  color: #7fd6cb;
}

.heading-content {
  display: flex;
  padding: 20px 0;
  align-items: center;
  padding-top: 19px;
}
.heading-content-img-wrap {
  width: 256px;
}
.heading-content-img {
  width: 100%;
  cursor: pointer;
}
.heading-content-search {
  flex: 1;
  position: relative;
  margin-left: 20px;
  z-index: 300;
}
.heading-content-search input {
  outline: none;
  padding: 12.5px 10px;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 15px;
  border: 1px solid #eee;
  width: 100%;
  box-shadow: 0 4px 6px #ccc;
  position: relative;
  z-index: 10;
}
.heading-content-search-icon {
  font-size: 1.9rem;
  padding: 11.5px;
  background-image: linear-gradient(#00917a, #00483d);
  color: #fff;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.1s linear;
}
.heading-content-search-icon:hover {
  opacity: 0.9;
}
.heading-content-search-wrap-icon {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.heading-content-order-tools {
  width: 220px;
  display: flex;
  align-items: center;
  margin-left: 25px;
}
.heading-content .heading-check-order {
  background-color: #00483d;
  width: 126px;
  display: flex;
  align-items: center;
  transition: all 0.1s linear;
  cursor: pointer;
  border-radius: 10px;
}
.heading-content .heading-check-order:hover {
  background-color: #009981;
}
.heading-content .heading-check-order-icon {
  font-size: 3rem;
  color: #fff;
  padding: 5.9px 7px;
}
.heading-content .heading-check-order-text {
  font-size: 1.3rem;
  color: #fff;
}
.heading-content .header-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  transition: all 0.1s linear;
}
.heading-content .header-cart:hover .header-cart-icon {
  color: #009981;
}
.heading-content .header-cart-icon {
  font-size: 3.8rem;
  color: #00483d;
  cursor: pointer;
}
.heading-content .header-cart-total {
  color: #fff;
  font-size: 1.3rem;
  padding: 4.6px 8.4px;
  background-color: #ff6801;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.heading-content .header-cart-total::before {
  position: absolute;
  left: -18px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: block;
  border-width: 6px 11px;
  border-style: solid;
  border-color: transparent #ff6801 transparent transparent;
}

.heading-pruduct {
  background-color: #00483d;
  border-radius: 6px;
  box-shadow: 0 4px 6px #ccc;
}
.heading-pruduct .wrap-product {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.heading-pruduct .wrap-product .product-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 300;
  padding: 8px 0;
  cursor: pointer;
  position: relative;
}
.heading-pruduct .wrap-product .product-item:hover .product-icon-text::after {
  display: block;
  width: 50%;
  transform: translateX(100%);
}
.heading-pruduct .wrap-product .product-item .product-icon {
  font-size: 2.6rem;
  padding-bottom: 6px;
}
.heading-pruduct .wrap-product .product-item .product-icon-text {
  transition: all 3s ease-in-out;
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
}
.heading-pruduct .wrap-product .product-item .product-icon-text::after {
  content: "";
  display: none;
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 4px;
  background-color: #f7941e;
  border-radius: 2px;
  animation: slide 0.4s ease-in-out;
}

@keyframes slide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.sub-product {
  display: none;
  position: absolute;
  z-index: 99;
  left: -51px;
  top: 111%;
  background-color: #fff;
  width: 1200px;
  border-radius: 10px;
  box-shadow: 0 4px 6px #ccc;
  animation: out 0.3s linear;
  transform-origin: top left;
}
.sub-product .sub-list .sub-item {
  list-style-type: none;
}
.sub-product .sub-list .sub-item .sub-wrap-item {
  padding: 20px 30px;
}
.sub-product .sub-list .sub-item .sub-wrap-item .sub-heading {
  color: #333;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  padding-bottom: 19px;
}
.sub-product .sub-list .sub-item .sub-wrap-item .sub-item .sub-list {
  color: #333;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 400;
  padding-bottom: 9px;
}

.sub-product::before {
  content: "";
  display: block;
  position: absolute;
  width: 140px;
  height: 20px;
  background-color: transparent;
  left: 0;
  top: -15px;
}

.sub-item-text {
  transition: all 0.1s ease-in-out;
  position: relative;
}

.sub-item-text::before {
  display: none;
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 3px;
  background-color: #00483d;
  border-radius: 4px;
}

.sub-item-text:hover {
  color: #009981;
}

.sub-item-text:hover::before {
  display: block;
  width: 50%;
  transform: translateX(100%);
  animation: slide 0.5s ease-in-out;
}

.sub-item-img {
  padding: 20px 30px;
}
.sub-item-img img {
  width: 100%;
}

.product-item {
  transition: all 3s linear;
}

.product-item:hover .sub-product {
  display: block;
}

.sub-product.đong-ho {
  left: -156px;
}

.sub-product.đong-ho::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 116px;
  background-color: transparent;
}

.sub-item-dong-ho {
  display: flex;
  flex-wrap: wrap;
}
.sub-item-dong-ho li {
  margin: 10px 30px 0 0;
}

.sub-product.lap-top {
  left: -249px;
}

.sub-product.lap-top::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 203px;
  background-color: transparent;
}

.sub-product.man-hinh {
  left: -337px;
}

.sub-product.man-hinh::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 303px;
  background-color: transparent;
}

.sub-product.smart-tv {
  left: -436px;
}

.sub-product.smart-tv::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 394px;
  background-color: transparent;
}

.sub-product.am-thanh {
  left: -534px;
}

.sub-product.am-thanh::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 498px;
  background-color: transparent;
}

.sub-product.smart-home {
  left: -635px;
}

.sub-product.smart-home::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 604px;
  background-color: transparent;
}

.sub-product.sim-the {
  left: -750px;
}

.sub-product.sim-the ::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 708px;
  top: -16px;
  background-color: transparent;
}

.sub-product.sua-chua {
  left: -839px;
}

.sub-product.sua-chua::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 801px;
  top: -16px;
  background-color: transparent;
}

.sub-product.do-choi {
  left: -939px;
}

.sub-product.do-choi::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 897px;
  top: -16px;
  background-color: transparent;
}

.sub-product.uu-dai {
  left: -1116px;
}

.sub-product.uu-dai::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 1074px;
  top: -16px;
  background-color: transparent;
}

.heading-nav-link-login {
  display: flex;
  align-items: center;
  position: relative;
  top: 2px;
  text-transform: unset;
}

.heading-nav-user-login {
  font-size: 1.4rem;
  margin-right: 3px;
  border: 2px solid #ddd;
  border-radius: 50%;
}

.heading-nav-user-text {
  font-weight: 900;
  font-size: 1.3rem;
}

.slider {
  position: relative;
  margin-top: 20px !important;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 4px #ccc;
}

.slider-wrap {
  width: 100%;
  height: 376px;
  display: flex;
}

.slide-img {
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
}

.slide-btn {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.btn {
  position: absolute;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 13px 16.8px;
  border-radius: 50%;
  background-color: rgba(194, 194, 194, 0.4509803922);
  cursor: pointer;
  color: #fff;
  transition: all 0.2s linear;
}
.btn:hover {
  background-color: rgba(230, 228, 228, 0.4509803922);
}
.btn-next {
  position: absolute;
  left: 30px;
}
.btn-prev {
  position: absolute;
  right: 30px;
}

.slide-dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.slide-dots-icon {
  font-size: 14px;
  margin-right: 6px;
  cursor: pointer;
  color: rgba(194, 194, 194, 0.4509803922);
}

.slide-dots-active {
  color: #00483d;
}

.slide-img-hiden {
  display: none;
}

.slide-img-active {
  display: block;
}

@keyframes sliderLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes sliderRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translate(0);
  }
}
.container-title .container-title-text {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
  background-color: #00483d;
  color: #fff;
  padding: 8px 81px;
  margin: 23px 0;
  text-transform: uppercase;
  box-shadow: 0 0 4px #ccc;
}
.container-title .container-title-text span {
  transition: all 0.1s linear;
}
.container-title .container-title-text span:hover {
  color: #009981;
  cursor: pointer;
}
.container-title .container-title-text::before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  bottom: 0;
  border-width: 16.6px 18px;
  border-style: solid;
  color: #009981;
  border-color: currentColor;
}
.container-title .container-title-text::after {
  position: absolute;
  content: "";
  display: block;
  left: 35px;
  bottom: 0;
  border-top: 33.1px solid transparent;
  border-left: 26px solid #009981;
}

.container-product {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 8px;
  margin-bottom: 10px;
  user-select: none;
  transition: all 0.2s linear;
}
.container-product:hover {
  transform: translateY(-3px);
}

.container-product-img {
  display: flex;
  justify-content: center;
  padding: 21.6px 0 10px;
}
.container-product-img img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.container-product-info .container-product-info-heading {
  font-size: 1.3rem;
  font-weight: bold;
  color: #000;
  padding: 0 16px;
  text-align: center;
  line-height: 16px;
  cursor: pointer;
  min-height: 32px;
}
.container-product-info .container-product-info-price {
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  margin: 6px 0 18px;
}
.container-product-info .container-product-info-price .container-product-info-price-old {
  font-size: 1.6rem;
  color: #fd475a;
  font-weight: bold;
}
.container-product-info .container-product-info-price .container-product-info-price-new {
  color: #333;
  text-decoration: line-through;
  margin-left: 3px;
}

.container-product-info-note {
  padding: 0 7px 12px;
  cursor: pointer;
}
.container-product-info-note .container-product-info-note-saleof {
  font-size: 1.1rem;
  background-color: #f7941e;
  padding: 3px 5px;
  border-radius: 3px;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1607843137);
  text-transform: uppercase;
}
.container-product-info-note .container-product-info-note-text {
  font-size: 1.3rem;
  font-weight: 400;
  color: #333;
  line-height: 21px;
  position: relative;
  text-transform: capitalize;
}
.container-product-info-note .container-product-info-note-detail {
  font-size: 1.3rem;
  font-weight: bold;
  color: #f7941e;
  text-transform: uppercase;
}

.introduce {
  text-align: center;
}
.introduce p {
  top: -22px;
  position: relative;
  font-size: 2.6rem;
  color: #000;
}

.introduce-text {
  font-size: 3.6rem;
  padding: 40px;
}

.footer {
  background-color: #00483d;
  margin-top: 10px;
  border-radius: 11px;
  box-shadow: 0 0 4px #ccc;
}

.footer-wrap-item {
  padding: 26px 0 0 16px;
}

.footer-heading {
  color: #ddd;
  font-size: 1.5rem;
}
.footer-heading:hover {
  cursor: pointer;
  color: #fff;
}

.footer-item {
  list-style-type: none;
  margin-top: 13px;
}

.footer-list {
  margin-bottom: 8px;
}

.footer-link {
  color: #ddd;
  font-size: 1.3rem;
  font-weight: 300;
  cursor: pointer;
}
.footer-link:hover {
  color: #fff;
}

.footer-heading.footer-pay {
  color: #fff;
}

.footer-icon {
  margin-right: 3px;
}

.footer-congthuong {
  margin-top: 9px;
}

.footer-info {
  padding-bottom: 12px;
}

.footer-info-text {
  text-align: center;
  user-select: none;
  font-size: 1.4rem;
  color: #ddd;
}

.up-top {
  display: none;
  position: fixed;
  top: 81%;
  right: 39px;
}
.up-top:hover {
  cursor: pointer;
  opacity: 0.7;
}

.up-top-icon {
  font-size: 5rem;
  padding: 4.2px 13.4px;
  background-color: #00483d;
  color: #fff;
  opacity: 0.6;
  border-radius: 50%;
}

.up-top-active {
  display: block;
}

.buy-phone-name {
  margin-top: 27px;
  font-size: 2.2rem;
  color: #333;
  font-weight: bold;
}

.buy-phone-product {
  display: flex;
  margin: 18px 0 41px;
}

.buy-phone-product-img {
  width: 360px;
  height: 360px;
  margin-left: -14px;
}
.buy-phone-product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.buy-phone-product-info {
  margin-left: 50px;
  flex: 1;
  background-color: #fff;
  padding: 14px 15px 4px;
  border-radius: 6px;
  box-shadow: 0 0 4px #ccc;
}

.buy-phone-product-info-price-new {
  font-size: 25px;
  color: #fd475a;
  font-weight: bold;
}

.buy-phone-product-info-price-vat {
  font-size: 15px;
  margin-left: 5px;
  color: #333;
  font-weight: 400;
}

.buy-phone-product-info-freeShip {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00483d;
  padding: 0.2px 0;
  margin-top: 10px;
  border-radius: 4px;
  box-shadow: 0 0 3px #ccc;
  cursor: pointer;
}

.buy-phone-product-info-freeShip-icon {
  font-size: 32px;
  color: #fff;
}

.buy-phone-product-info-freeShip-text {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 400;
  margin-left: 8px;
  position: relative;
  top: 1px;
}

.buy-phone-product-option-text {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333;
  padding: 8px 0;
}

.buy-phone-product-option-phone {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.buy-phone-product-option-phone-list {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  color: #333;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.1s linear;
}
.buy-phone-product-option-phone-list:hover {
  border: 1px solid #ff6801;
}

.buy-phone-product-option-phone-list-active {
  border: 1px solid #00483d;
}
.buy-phone-product-option-phone-list-active:hover {
  border: 1px solid #00483d;
}
.buy-phone-product-option-phone-list-active .buy-phone-product-option-phone-GB::before {
  background-color: #00483d;
  border-color: #00483d;
}

.buy-phone-product-option-phone-GB {
  position: relative;
  padding: 8px 0 6px 25px;
}
.buy-phone-product-option-phone-GB::before {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  top: 42%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.buy-phone-product-option-phone-icon-check {
  display: block;
  position: absolute;
  left: 6.6px;
  top: 44%;
  font-size: 10.7px;
  font-weight: bold;
  transform: translateY(-50%);
  color: #fff;
}

.buy-phone-product-option-phone-price {
  color: #fd475a;
  font-weight: bold;
  padding: 0 20.1px 4px 6px;
}

.buy-phone-product-promotion-text {
  font-size: 1.4rem;
  color: #009a82;
  font-weight: bold;
  padding: 14px 0 6px 0px;
}

.buy-phone-product-promotion-content {
  list-style-type: none;
  font-size: 1.3rem;
}

.buy-phone-product-promotion-list {
  margin-bottom: 11px;
}

.buy-phone-product-promotion-list-icon {
  display: inline-block;
  padding: 2px 5px;
  background-color: #f7941e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1607843137);
  color: #fff;
  border-radius: 3px;
  font-size: 1.1rem;
}

.buy-phone-product-promotion-list-content {
  display: block;
  color: #00483d;
  line-height: 28px;
  transition: all 0.1s linear;
}
.buy-phone-product-promotion-list-content:hover {
  color: #ff6801;
  cursor: pointer;
}

.buy-phone-product-action {
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
}

.buy-phone-product-action-buy {
  text-align: center;
  color: #fff;
  background: transparent linear-gradient(180deg, #fd475a 0%, #bf1e2d 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 3px;
  padding: 0px 35.1px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.buy-phone-product-action-buy p {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 6px 0 4px;
  text-transform: uppercase;
}
.buy-phone-product-action-buy span,
.buy-phone-product-action-buy strong {
  display: block;
  font-size: 1.1rem;
  font-weight: 300;
}
.buy-phone-product-action-buy strong {
  font-weight: 300;
  padding: 5px 0;
}
.buy-phone-product-action-buy:hover {
  background: transparent linear-gradient(0deg, #fd475a 0%, #bf1e2d 100%) 0% 0% no-repeat padding-box;
}

.buy-phone-product-action-add-cart {
  background: transparent linear-gradient(180deg, #ff990e 0%, #ff6801 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1607843137);
  color: #fff;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s linear;
  padding: 0 50px;
}
.buy-phone-product-action-add-cart p {
  font-size: 1.1rem;
}
.buy-phone-product-action-add-cart:hover {
  background: transparent linear-gradient(0deg, #ff990e 0%, #ff6801 100%) 0% 0% no-repeat padding-box;
}

.buy-phone-product-action-add-cart-icon {
  font-size: 3.1rem;
  padding: 4px 0 3px 0;
}

.buy-phone-warranty {
  padding: 0 23px;
}

.buy-phone-warranty-heading {
  color: #333;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding-bottom: 9px;
  text-align: center;
}

.buy-phone-warranty-info {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  cursor: pointer;
}
.buy-phone-warranty-info:hover .buy-phone-warranty-text {
  color: #009a82;
}

.buy-phone-warranty-icon {
  color: #009a82;
  font-size: 2rem;
}

.buy-phone-warranty-text {
  max-width: 223px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
  transition: all 0.2s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f4f4f4;
}

.app {
  min-height: 50vh;
  position: relative;
}

.overlay {
  display: none;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(194, 195, 196, 0.4);
}

.sosial {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 5.5%;
  display: inline-block;
  background: #f5f5f5 0% 0% no-repeat;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 30px;
}

.sosial-item {
  list-style-type: none;
}

.sosial-list {
  margin: 6px 0;
  transition: all 0.1s linear;
}
.sosial-list:hover {
  opacity: 0.6;
}

.sosial-list:first-child {
  margin-top: 0;
}

.sosial-list:last-child {
  margin-bottom: 0;
}

.sosial-list:first-child .sosial-link {
  padding: 8px 12.5px;
  color: #3c5a99;
  border: 2px solid currentColor;
  border-radius: 50%;
}

.sosial-list:nth-child(2) .sosial-link {
  padding: 8px 6.5px;
  color: #f00;
  border: 2px solid currentColor;
  border-radius: 50%;
}

.sosial-list:nth-child(3) .sosial-link {
  padding: 8px 9.5px;
  color: #e24e92;
  border: 2px solid currentColor;
  border-radius: 50%;
}

.sosial-list:last-child .sosial-link {
  padding: 8px 9.5px;
  color: #000;
  border: 2px solid currentColor;
  border-radius: 50%;
}

.sosial-link {
  display: inline-block;
}

.sosial-link-icon {
  font-size: 2.4rem;
}

.nav-active {
  color: #7fd6cb;
}

/*# sourceMappingURL=style.css.map */
