@charset "UTF-8";
.heading-nav-item {
  list-style-type: none;
  font-size: 1.6rem;
  background-color: #00483d;
  display: flex;
  justify-content: center;
  padding: 6px 0;
}
.heading-nav-list {
  margin-right: 16px;
}
.heading-nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  text-transform: capitalize;
  transition: all 0.1s linear;
}
.heading-nav-link:hover {
  color: #7fd6cb;
}

.heading-content {
  display: flex;
  padding: 20px 0;
  align-items: center;
}
.heading-content-img-wrap {
  width: 256px;
}
.heading-content-img {
  width: 100%;
  cursor: pointer;
}
.heading-content-search {
  flex: 1;
  position: relative;
  margin-left: 20px;
}
.heading-content-search input {
  outline: none;
  padding: 12.5px 10px;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 15px;
  border: 1px solid #eee;
  width: 100%;
  box-shadow: 0 4px 6px #ccc;
  position: relative;
  z-index: 10;
}
.heading-content-search-icon {
  font-size: 1.9rem;
  padding: 11.5px;
  background-image: linear-gradient(#00917a, #00483d);
  color: #fff;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.1s linear;
}
.heading-content-search-icon:hover {
  opacity: 0.9;
}
.heading-content-search-wrap-icon {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.heading-content-order-tools {
  width: 220px;
  display: flex;
  align-items: center;
  margin-left: 25px;
}
.heading-content .heading-check-order {
  background-color: #00483d;
  width: 126px;
  display: flex;
  align-items: center;
  transition: all 0.1s linear;
  cursor: pointer;
  border-radius: 10px;
}
.heading-content .heading-check-order:hover {
  background-color: #009981;
}
.heading-content .heading-check-order-icon {
  font-size: 3rem;
  color: #fff;
  padding: 5.9px 7px;
}
.heading-content .heading-check-order-text {
  font-size: 1.3rem;
  color: #fff;
}
.heading-content .header-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  transition: all 0.1s linear;
}
.heading-content .header-cart:hover .header-cart-icon {
  color: #009981;
}
.heading-content .header-cart-icon {
  font-size: 3.8rem;
  color: #00483d;
  cursor: pointer;
}
.heading-content .header-cart-total {
  color: #fff;
  font-size: 1.3rem;
  padding: 4.6px 8.4px;
  background-color: #ff6801;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.heading-content .header-cart-total::before {
  position: absolute;
  left: -18px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: block;
  border-width: 6px 11px;
  border-style: solid;
  border-color: transparent #ff6801 transparent transparent;
}

.heading-pruduct {
  background-color: #00483d;
  border-radius: 6px;
  box-shadow: 0 4px 6px #ccc;
}
.heading-pruduct .wrap-product {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.heading-pruduct .wrap-product .product-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 300;
  padding: 8px 0;
  cursor: pointer;
  position: relative;
}
.heading-pruduct .wrap-product .product-item:hover .product-icon-text::after {
  display: block;
  width: 50%;
  transform: translateX(100%);
}
.heading-pruduct .wrap-product .product-item .product-icon {
  font-size: 2.6rem;
  padding-bottom: 6px;
}
.heading-pruduct .wrap-product .product-item .product-icon-text {
  transition: all 3s ease-in-out;
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
}
.heading-pruduct .wrap-product .product-item .product-icon-text::after {
  content: "";
  display: none;
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 4px;
  background-color: #f7941e;
  border-radius: 2px;
  animation: slide 0.4s ease-in-out;
}

@keyframes slide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.sub-product {
  display: none;
  position: absolute;
  left: -51px;
  top: 111%;
  background-color: #fff;
  width: 1200px;
  border-radius: 10px;
  box-shadow: 0 4px 6px #ccc;
  animation: out 0.3s linear;
  transform-origin: top left;
}
.sub-product .sub-list .sub-item {
  list-style-type: none;
}
.sub-product .sub-list .sub-item .sub-wrap-item {
  padding: 20px 30px;
}
.sub-product .sub-list .sub-item .sub-wrap-item .sub-heading {
  color: #333;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  padding-bottom: 19px;
}
.sub-product .sub-list .sub-item .sub-wrap-item .sub-item .sub-list {
  color: #333;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 400;
  padding-bottom: 9px;
}

.sub-product::before {
  content: "";
  display: block;
  position: absolute;
  width: 140px;
  height: 20px;
  background-color: transparent;
  left: 0;
  top: -15px;
}

.sub-item-text {
  transition: all 0.1s ease-in-out;
  position: relative;
}

.sub-item-text::before {
  display: none;
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 3px;
  background-color: #00483d;
  border-radius: 4px;
}

.sub-item-text:hover {
  color: #009981;
}

.sub-item-text:hover::before {
  display: block;
  width: 50%;
  transform: translateX(100%);
  animation: slide 0.5s ease-in-out;
}

.sub-item-img {
  padding: 20px 30px;
}
.sub-item-img img {
  width: 100%;
}

.product-item {
  transition: all 3s linear;
}

.product-item:hover .sub-product {
  display: block;
}

.sub-product.đong-ho {
  left: -156px;
}

.sub-product.đong-ho::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 116px;
  background-color: transparent;
}

.sub-item-dong-ho {
  display: flex;
  flex-wrap: wrap;
}
.sub-item-dong-ho li {
  margin: 10px 30px 0 0;
}

.sub-product.lap-top {
  left: -249px;
}

.sub-product.lap-top::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 203px;
  background-color: transparent;
}

.sub-product.man-hinh {
  left: -337px;
}

.sub-product.man-hinh::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 303px;
  background-color: transparent;
}

.sub-product.smart-tv {
  left: -436px;
}

.sub-product.smart-tv::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 394px;
  background-color: transparent;
}

.sub-product.am-thanh {
  left: -436px;
}

.sub-product.am-thanh::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 400px;
  background-color: transparent;
}

.sub-product.smart-home {
  left: -635px;
}

.sub-product.smart-home::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 604px;
  background-color: transparent;
}

.sub-product.sim-the {
  left: -750px;
}

.sub-product.sim-the ::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 708px;
  top: -16px;
  background-color: transparent;
}

.sub-product.sua-chua {
  left: -839px;
}

.sub-product.sua-chua::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 801px;
  top: -16px;
  background-color: transparent;
}

.sub-product.do-choi {
  left: -939px;
}

.sub-product.do-choi::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 897px;
  top: -16px;
  background-color: transparent;
}

.sub-product.uu-dai {
  left: -1116px;
}

.sub-product.uu-dai::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 1074px;
  top: -16px;
  background-color: transparent;
}

.slider {
  position: relative;
}

.slider-wrap {
  width: 100%;
  height: 376px;
  display: flex;
}

.slide-img {
  width: 100%;
  height: 100%;
}

.slide-btn {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.btn {
  position: absolute;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 13px 16.8px;
  border-radius: 50%;
  background-color: rgba(194, 194, 194, 0.4509803922);
  cursor: pointer;
  color: #fff;
  transition: all 0.2s linear;
}
.btn:hover {
  background-color: rgba(230, 228, 228, 0.4509803922);
}
.btn-next {
  position: absolute;
  left: 30px;
}
.btn-prev {
  position: absolute;
  right: 30px;
}

.slide-dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.slide-dots-icon {
  font-size: 14px;
  margin-right: 6px;
  cursor: pointer;
  color: rgba(194, 194, 194, 0.4509803922);
}

.slide-dots-active {
  color: #00483d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f4f4f4;
}

.app {
  min-height: 50vh;
  position: relative;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(194, 195, 196, 0.4);
}

/*# sourceMappingURL=style.css.map */
