@charset "UTF-8";
.heading-nav-item {
  list-style-type: none;
  font-size: 1.6rem;
  background-color: #00483d;
  display: flex;
  justify-content: center;
  padding: 6px 0;
}
.heading-nav-list {
  margin-right: 16px;
}
.heading-nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  text-transform: capitalize;
  transition: all 0.1s linear;
}
.heading-nav-link:hover {
  color: #7fd6cb;
}

.heading-content {
  display: flex;
  padding: 20px 0;
  align-items: center;
  padding-top: 19px;
}
.heading-content-img-wrap {
  width: 256px;
}
.heading-content-img {
  width: 100%;
  cursor: pointer;
}
.heading-content-search {
  flex: 1;
  position: relative;
  margin-left: 20px;
  z-index: 300;
}
.heading-content-search input {
  outline: none;
  padding: 12.5px 10px;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 15px;
  border: 1px solid #eee;
  width: 100%;
  box-shadow: 0 4px 6px #ccc;
  position: relative;
  z-index: 10;
}
.heading-content-search-icon {
  font-size: 1.9rem;
  padding: 11.5px;
  background-image: linear-gradient(#00917a, #00483d);
  color: #fff;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.1s linear;
}
.heading-content-search-icon:hover {
  opacity: 0.9;
}
.heading-content-search-wrap-icon {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.heading-content-order-tools {
  width: 220px;
  display: flex;
  align-items: center;
  margin-left: 25px;
}
.heading-content .heading-check-order {
  background-color: #00483d;
  width: 126px;
  display: flex;
  align-items: center;
  transition: all 0.1s linear;
  cursor: pointer;
  border-radius: 10px;
}
.heading-content .heading-check-order:hover {
  background-color: #009981;
}
.heading-content .heading-check-order-icon {
  font-size: 3rem;
  color: #fff;
  padding: 5.9px 7px;
}
.heading-content .heading-check-order-text {
  font-size: 1.3rem;
  color: #fff;
}
.heading-content .header-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  transition: all 0.1s linear;
}
.heading-content .header-cart:hover .header-cart-icon {
  color: #009981;
}
.heading-content .header-cart-icon {
  font-size: 3.8rem;
  color: #00483d;
  cursor: pointer;
}
.heading-content .header-cart-total {
  color: #fff;
  font-size: 1.3rem;
  padding: 4.6px 8.4px;
  background-color: #ff6801;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.heading-content .header-cart-total::before {
  position: absolute;
  left: -18px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: block;
  border-width: 6px 11px;
  border-style: solid;
  border-color: transparent #ff6801 transparent transparent;
}

.heading-pruduct {
  background-color: #00483d;
  border-radius: 6px;
  box-shadow: 0 4px 6px #ccc;
}
.heading-pruduct .wrap-product {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.heading-pruduct .wrap-product .product-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 300;
  padding: 8px 0;
  cursor: pointer;
  position: relative;
}
.heading-pruduct .wrap-product .product-item:hover .product-icon-text::after {
  display: block;
  width: 50%;
  transform: translateX(100%);
}
.heading-pruduct .wrap-product .product-item .product-icon {
  font-size: 2.6rem;
  padding-bottom: 6px;
}
.heading-pruduct .wrap-product .product-item .product-icon-text {
  transition: all 3s ease-in-out;
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
}
.heading-pruduct .wrap-product .product-item .product-icon-text::after {
  content: "";
  display: none;
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 4px;
  background-color: #f7941e;
  border-radius: 2px;
  animation: slide 0.4s ease-in-out;
}

@keyframes slide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.sub-product {
  display: none;
  position: absolute;
  z-index: 99;
  left: -51px;
  top: 111%;
  background-color: #fff;
  width: 1200px;
  border-radius: 10px;
  box-shadow: 0 4px 6px #ccc;
  animation: out 0.3s linear;
  transform-origin: top left;
}
.sub-product .sub-list .sub-item {
  list-style-type: none;
}
.sub-product .sub-list .sub-item .sub-wrap-item {
  padding: 20px 30px;
}
.sub-product .sub-list .sub-item .sub-wrap-item .sub-heading {
  color: #333;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  padding-bottom: 19px;
}
.sub-product .sub-list .sub-item .sub-wrap-item .sub-item .sub-list {
  color: #333;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 400;
  padding-bottom: 9px;
}

.sub-product::before {
  content: "";
  display: block;
  position: absolute;
  width: 140px;
  height: 20px;
  background-color: transparent;
  left: 0;
  top: -15px;
}

.sub-item-text {
  transition: all 0.1s ease-in-out;
  position: relative;
}

.sub-item-text::before {
  display: none;
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 3px;
  background-color: #00483d;
  border-radius: 4px;
}

.sub-item-text:hover {
  color: #009981;
}

.sub-item-text:hover::before {
  display: block;
  width: 50%;
  transform: translateX(100%);
  animation: slide 0.5s ease-in-out;
}

.sub-item-img {
  padding: 20px 30px;
}
.sub-item-img img {
  width: 100%;
}

.product-item {
  transition: all 3s linear;
}

.product-item:hover .sub-product {
  display: block;
}

.sub-product.đong-ho {
  left: -156px;
}

.sub-product.đong-ho::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 116px;
  background-color: transparent;
}

.sub-item-dong-ho {
  display: flex;
  flex-wrap: wrap;
}
.sub-item-dong-ho li {
  margin: 10px 30px 0 0;
}

.sub-product.lap-top {
  left: -249px;
}

.sub-product.lap-top::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 203px;
  background-color: transparent;
}

.sub-product.man-hinh {
  left: -337px;
}

.sub-product.man-hinh::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 303px;
  background-color: transparent;
}

.sub-product.smart-tv {
  left: -436px;
}

.sub-product.smart-tv::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 394px;
  background-color: transparent;
}

.sub-product.am-thanh {
  left: -534px;
}

.sub-product.am-thanh::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 498px;
  background-color: transparent;
}

.sub-product.smart-home {
  left: -635px;
}

.sub-product.smart-home::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 604px;
  background-color: transparent;
}

.sub-product.sim-the {
  left: -750px;
}

.sub-product.sim-the ::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 708px;
  top: -16px;
  background-color: transparent;
}

.sub-product.sua-chua {
  left: -839px;
}

.sub-product.sua-chua::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 801px;
  top: -16px;
  background-color: transparent;
}

.sub-product.do-choi {
  left: -939px;
}

.sub-product.do-choi::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 897px;
  top: -16px;
  background-color: transparent;
}

.sub-product.uu-dai {
  left: -1116px;
}

.sub-product.uu-dai::before {
  position: absolute;
  content: "";
  display: block;
  width: 125px;
  height: 29px;
  left: 1074px;
  top: -16px;
  background-color: transparent;
}

.heading-nav-link-login {
  display: flex;
  align-items: center;
  position: relative;
  top: 2px;
  text-transform: unset;
}

.heading-nav-user-login {
  font-size: 1.4rem;
  margin-right: 3px;
  border: 2px solid #ddd;
  border-radius: 50%;
}

.heading-nav-user-text {
  font-weight: 900;
  font-size: 1.3rem;
}

.slider {
  position: relative;
  margin-top: 20px !important;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 4px #ccc;
}

.slider-wrap {
  width: 100%;
  height: 376px;
  display: flex;
}

.slide-img {
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
}

.slide-btn {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.btn {
  position: absolute;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 13px 16.8px;
  border-radius: 50%;
  background-color: rgba(194, 194, 194, 0.4509803922);
  cursor: pointer;
  color: #fff;
  transition: all 0.2s linear;
}
.btn:hover {
  background-color: rgba(230, 228, 228, 0.4509803922);
}
.btn-next {
  position: absolute;
  left: 30px;
}
.btn-prev {
  position: absolute;
  right: 30px;
}

.slide-dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.slide-dots-icon {
  font-size: 14px;
  margin-right: 6px;
  cursor: pointer;
  color: rgba(194, 194, 194, 0.4509803922);
}

.slide-dots-active {
  color: #00483d;
}

.slide-img-hiden {
  display: none;
}

.slide-img-active {
  display: block;
}

@keyframes sliderLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes sliderRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translate(0);
  }
}
.container-title .container-title-text {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
  background-color: #00483d;
  color: #fff;
  padding: 8px 81px;
  margin: 23px 0;
  text-transform: uppercase;
  box-shadow: 0 0 4px #ccc;
}
.container-title .container-title-text span {
  transition: all 0.1s linear;
}
.container-title .container-title-text span:hover {
  color: #009981;
  cursor: pointer;
}
.container-title .container-title-text::before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  bottom: 0;
  border-width: 16.6px 18px;
  border-style: solid;
  color: #009981;
  border-color: currentColor;
}
.container-title .container-title-text::after {
  position: absolute;
  content: "";
  display: block;
  left: 35px;
  bottom: 0;
  border-top: 33.1px solid transparent;
  border-left: 26px solid #009981;
}

.container-product {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 8px;
  margin-bottom: 10px;
  user-select: none;
  transition: all 0.2s linear;
  height: 310px;
}
.container-product:hover {
  transform: translateY(-3px);
}

.container-product-img {
  display: flex;
  justify-content: center;
  padding: 21.6px 0 10px;
}
.container-product-img img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.container-product-info .container-product-info-heading {
  font-size: 1.3rem;
  font-weight: bold;
  color: #000;
  padding: 0 16px;
  text-align: center;
  line-height: 16px;
  cursor: pointer;
  min-height: 32px;
  text-transform: capitalize;
}
.container-product-info .container-product-info-price {
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  margin: 6px 0 18px;
}
.container-product-info .container-product-info-price .container-product-info-price-old {
  font-size: 1.6rem;
  color: #fd475a;
  font-weight: bold;
}
.container-product-info .container-product-info-price .container-product-info-price-new {
  color: #333;
  text-decoration: line-through;
  margin-left: 3px;
}

.container-product-info-note {
  padding: 0 7px 12px;
  cursor: pointer;
}
.container-product-info-note .container-product-info-note-saleof {
  font-size: 1.1rem;
  background-color: #f7941e;
  padding: 3px 5px;
  border-radius: 3px;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1607843137);
  text-transform: uppercase;
}
.container-product-info-note .container-product-info-note-text {
  font-size: 1.3rem;
  font-weight: 400;
  color: #333;
  line-height: 21px;
  position: relative;
  text-transform: capitalize;
}
.container-product-info-note .container-product-info-note-detail {
  font-size: 1.3rem;
  font-weight: bold;
  color: #f7941e;
  text-transform: uppercase;
}

.introduce {
  text-align: center;
}
.introduce p {
  top: -22px;
  position: relative;
  font-size: 2.6rem;
  color: #000;
}

.introduce-text {
  font-size: 3.6rem;
  padding: 40px;
}

.footer {
  background-color: #00483d;
  margin-top: 10px;
  border-radius: 11px;
  box-shadow: 0 0 4px #ccc;
}

.footer-wrap-item {
  padding: 26px 0 0 16px;
}

.footer-heading {
  color: #ddd;
  font-size: 1.5rem;
}
.footer-heading:hover {
  cursor: pointer;
  color: #fff;
}

.footer-item {
  list-style-type: none;
  margin-top: 13px;
}

.footer-list {
  margin-bottom: 8px;
}

.footer-link {
  color: #ddd;
  font-size: 1.3rem;
  font-weight: 300;
  cursor: pointer;
}
.footer-link:hover {
  color: #fff;
}

.footer-heading.footer-pay {
  color: #fff;
}

.footer-icon {
  margin-right: 3px;
}

.footer-congthuong {
  margin-top: 9px;
}

.footer-info {
  padding-bottom: 12px;
}

.footer-info-text {
  text-align: center;
  user-select: none;
  font-size: 1.4rem;
  color: #ddd;
}

.up-top {
  display: none;
  position: fixed;
  top: 81%;
  right: 39px;
}
.up-top:hover {
  cursor: pointer;
  opacity: 0.7;
}

.up-top-icon {
  font-size: 5rem;
  padding: 4.2px 13.4px;
  background-color: #00483d;
  color: #fff;
  opacity: 0.6;
  border-radius: 50%;
}

.up-top-active {
  display: block;
}

.buy-phone-name {
  margin-top: 27px;
  font-size: 2.2rem;
  color: #333;
  font-weight: bold;
  text-transform: capitalize;
}

.buy-phone-product {
  display: flex;
  margin: 18px 0 41px;
}

.buy-phone-product-img {
  width: 360px;
  height: 360px;
  margin-left: -14px;
}
.buy-phone-product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.buy-phone-product-info {
  margin-left: 50px;
  flex: 1;
  background-color: #fff;
  padding: 14px 15px 4px;
  border-radius: 6px;
  box-shadow: 0 0 4px #ccc;
}

.buy-phone-product-info-price-new {
  font-size: 25px;
  color: #fd475a;
  font-weight: bold;
  text-transform: lowercase;
}

.buy-phone-product-info-price-vat {
  font-size: 15px;
  margin-left: 5px;
  color: #333;
  font-weight: 400;
}

.buy-phone-product-info-freeShip {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00483d;
  padding: 0.2px 0;
  margin-top: 10px;
  border-radius: 4px;
  box-shadow: 0 0 3px #ccc;
  cursor: pointer;
}

.buy-phone-product-info-freeShip-icon {
  font-size: 32px;
  color: #fff;
}

.buy-phone-product-info-freeShip-text {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 400;
  margin-left: 8px;
  position: relative;
  top: 1px;
}

.buy-phone-product-option-text {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333;
  padding: 8px 0;
}

.buy-phone-product-option-phone {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.buy-phone-product-option-phone-list {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  color: #333;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.1s linear;
}
.buy-phone-product-option-phone-list:hover {
  border: 1px solid #ff6801;
}

.buy-phone-product-option-phone-list-active {
  border: 1px solid #00483d;
}
.buy-phone-product-option-phone-list-active:hover {
  border: 1px solid #00483d;
}
.buy-phone-product-option-phone-list-active .buy-phone-product-option-phone-GB::before {
  background-color: #00483d;
  border-color: #00483d;
}

.buy-phone-product-option-phone-GB {
  position: relative;
  padding: 8px 0 6px 25px;
}
.buy-phone-product-option-phone-GB::before {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  top: 42%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.buy-phone-product-option-phone-icon-check {
  display: block;
  position: absolute;
  left: 6.6px;
  top: 44%;
  font-size: 10.7px;
  font-weight: bold;
  transform: translateY(-50%);
  color: #fff;
}

.buy-phone-product-option-phone-price {
  color: #fd475a;
  font-weight: bold;
  padding: 0 20.1px 4px 6px;
  text-transform: lowercase;
}

.buy-phone-product-promotion-text {
  font-size: 1.4rem;
  color: #009a82;
  font-weight: bold;
  padding: 14px 0 6px 0px;
}

.buy-phone-product-promotion-content {
  list-style-type: none;
  font-size: 1.3rem;
}

.buy-phone-product-promotion-list {
  margin-bottom: 11px;
}

.buy-phone-product-promotion-list-icon {
  display: inline-block;
  padding: 2px 5px;
  background-color: #f7941e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1607843137);
  color: #fff;
  border-radius: 3px;
  font-size: 1.1rem;
}

.buy-phone-product-promotion-list-content {
  display: block;
  color: #00483d;
  line-height: 28px;
  transition: all 0.1s linear;
}
.buy-phone-product-promotion-list-content:hover {
  color: #ff6801;
  cursor: pointer;
}

.buy-phone-product-action {
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
}

.buy-phone-product-action-buy {
  text-align: center;
  color: #fff;
  background: transparent linear-gradient(180deg, #fd475a 0%, #bf1e2d 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 3px;
  padding: 0px 35.1px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.buy-phone-product-action-buy p {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 6px 0 4px;
  text-transform: uppercase;
}
.buy-phone-product-action-buy span,
.buy-phone-product-action-buy strong {
  display: block;
  font-size: 1.1rem;
  font-weight: 300;
}
.buy-phone-product-action-buy strong {
  font-weight: 300;
  padding: 5px 0;
}
.buy-phone-product-action-buy:hover {
  background: transparent linear-gradient(0deg, #fd475a 0%, #bf1e2d 100%) 0% 0% no-repeat padding-box;
}

.buy-phone-product-action-add-cart {
  background: transparent linear-gradient(180deg, #ff990e 0%, #ff6801 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1607843137);
  color: #fff;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s linear;
  padding: 0 50px;
}
.buy-phone-product-action-add-cart p {
  font-size: 1.1rem;
}
.buy-phone-product-action-add-cart:hover {
  background: transparent linear-gradient(0deg, #ff990e 0%, #ff6801 100%) 0% 0% no-repeat padding-box;
}

.buy-phone-product-action-add-cart-icon {
  font-size: 3.1rem;
  padding: 4px 0 3px 0;
}

.buy-phone-warranty {
  padding: 0 23px;
}

.buy-phone-warranty-heading {
  color: #333;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding-bottom: 9px;
  text-align: center;
}

.buy-phone-warranty-info {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  cursor: pointer;
}
.buy-phone-warranty-info:hover .buy-phone-warranty-text {
  color: #009a82;
}

.buy-phone-warranty-icon {
  color: #009a82;
  font-size: 2rem;
}

.buy-phone-warranty-text {
  max-width: 223px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
  transition: all 0.2s linear;
}

.buy-phone-click-overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 400;
  justify-content: center;
  align-items: center;
}

.buy-phone-click-curent {
  background-color: #fff;
  max-width: 1200px;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
  display: flex;
  margin: 19px 0;
  min-height: 979px;
  position: relative;
}

.buy-phone-click-wrap-img {
  flex: 1;
  padding-top: 29px;
}

.buy-phone-click-img {
  width: 290px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.buy-phone-click-img-info-title {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}

.buy-phone-click-img-info-title-buy {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.buy-phone-click-img-info-option {
  color: #aaa;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 5px;
}
.buy-phone-click-img-info-option .buy-phone-click-img-info-option-text1 {
  text-transform: capitalize;
}

.buy-phone-click-img-info-price {
  color: #fd475a;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 9px;
}

.buy-phone-product-promotion-click-buy {
  margin: 7px 0 0 48px;
}

.buy-phone-product-promotion-list-content-click-buy {
  padding: 8px 20px 8px 55px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  position: relative;
}

.buy-phone-product-promotion-list-content-click-buy-icon {
  position: absolute;
  font-size: 1.6rem;
  content: "";
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #009981;
}

.buy-phone-product-promotion-list-content-click-buy::before {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  width: 23.3px;
  height: 23.3px;
  border-radius: 50%;
  border: 2px solid #009981;
  box-shadow: 0 0 2px #ccc;
}

.buy-phone-product-promotion-list-clik-buy {
  margin-bottom: 21px;
}

.buy-phone-click-wrap-info-price {
  flex: 1;
  margin: 48px 68px 0 0;
}

.buy-phone-click-wrap-info-price-title {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 1.7rem;
}

.buy-phone-click-wrap-info-price-number-text {
  font-size: 1.4rem;
  padding-bottom: 9px;
}

.buy-phone-click-wrap-info-price-number-option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
}

.buy-phone-click-wrap-info-price-number-option-btn {
  border: 1px solid #c4c4c4;
  cursor: pointer;
  padding: 4px 6px;
  transition: all 0.2s linear;
}
.buy-phone-click-wrap-info-price-number-option-btn:hover {
  background-color: #009981;
  color: #fff;
}

.buy-phone-click-wrap-info-price-number-option-input {
  width: 29px;
  text-align: center;
  padding: 2.1px 0;
  pointer-events: none;
}

.buy-phone-click-wrap-info-price-form-user {
  margin-top: 13px;
}

.info-name {
  position: relative;
  margin-bottom: 20px;
}

.input-checkVaildate {
  display: none;
  position: absolute;
  bottom: -16px;
  left: 6px;
  color: red;
  font-size: 1.2rem;
}

.info-name-label {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
  display: block;
}

.info-name-input {
  padding: 6px;
  font-size: 1.3rem;
  border-radius: 13px;
  outline: none;
  background: #e5e5e5 0% 0% no-repeat padding-box;
  border: 1px solid #e5e5e5;
  width: 100%;
}

.info-number {
  display: flex;
  align-items: center;
  margin-top: 13px;
  margin-bottom: 21px;
}

.info-number-phone {
  flex: 1;
  margin-right: 10px;
  position: relative;
}

.info-number-phone-label {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
  display: block;
}

.info-number-phone-input {
  padding: 6px;
  font-size: 1.3rem;
  border-radius: 13px;
  outline: none;
  background: #e5e5e5 0% 0% no-repeat padding-box;
  border: 1px solid #e5e5e5;
  width: 100%;
}

.info-number-mail {
  flex: 1;
  position: relative;
}

.info-number-phone-mail {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
  display: block;
  margin-left: 3px;
}

.info-number-phone-mail-input {
  padding: 6px;
  font-size: 1.3rem;
  border-radius: 13px;
  outline: none;
  background: #e5e5e5 0% 0% no-repeat padding-box;
  border: 1px solid #e5e5e5;
  width: 100%;
}

.info-address {
  margin-top: 20px;
}

.info-address-text {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}

.info-address-wrap-select {
  display: flex;
  margin-bottom: 21px;
}

.wrap-select {
  flex: 1;
  position: relative;
}

.wrap-select-1 {
  margin-right: 10px;
}

.info-address-select {
  flex: 1;
  padding: 6px;
  font-size: 1.3rem;
  border-radius: 13px;
  outline: none;
  background: #e5e5e5 0% 0% no-repeat padding-box;
  border: 1px solid #e5e5e5;
  width: 100%;
  color: #444;
  margin-right: 10px;
}

.info-address-shop {
  flex: 1;
  flex: 1;
  padding: 6px;
  font-size: 1.3rem;
  border-radius: 13px;
  outline: none;
  background: #e5e5e5 0% 0% no-repeat padding-box;
  border: 1px solid #e5e5e5;
  width: 100%;
  color: #444;
}

.wrap-textarea {
  margin-top: 13px;
  position: relative;
}
.wrap-textarea textarea {
  min-height: 60px;
  max-height: 102px;
  padding: 8px;
  outline: none;
  width: 100%;
  font-size: 1.3rem;
  background: #e5e5e5 0% 0% no-repeat padding-box;
  border-radius: 13px;
  border: 1px solid #e5e5e5;
}

.wrap-btn-buy-phone {
  text-align: center;
}
.wrap-btn-buy-phone p {
  color: #333;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 28px 0 -10px 0;
}

.buy-phone-btn {
  margin-top: 30px;
  padding: 10px 50px;
  border-radius: 5px;
  outline: none;
  background: transparent linear-gradient(180deg, #009981 0%, #00483d 100%) 0% 0% no-repeat padding-box;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #fff;
  transition: all 0.3s ease-in;
}
.buy-phone-btn:hover {
  cursor: pointer;
  background: transparent linear-gradient(0deg, #009981 0%, #00483d 100%) 0% 0% no-repeat padding-box;
}

.btn-out-page-buy-phone {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px 5.6px;
  font-size: 2.5rem;
  font-weight: bold;
  background: #fd5465;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 1px #ccc;
  transition: all 0.2s linear;
}
.btn-out-page-buy-phone:hover {
  cursor: pointer;
  background: #e62d40;
}

.completed-buy-phone-wrap-img {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 22px;
  text-align: center;
}

.completed-buy-phone-img img {
  width: 200px;
  padding-top: 8px 0 22px;
}

.completed-buy-phone-text {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.completed-buy-phone-descrption {
  font-size: 1.3rem;
  font-weight: 400;
  color: #333;
  padding-bottom: 33px;
}

.completed-buy-phone-wrap-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.completed-buy-phone-order-info {
  flex: 1;
}

.completed-buy-phone-order-info {
  background-color: #fafafa;
  border-radius: 6px;
  margin-right: 20px;
  border: 1px solid #eee;
}

.completed-buy-phone-order-info-heading {
  display: flex;
  align-items: center;
  border: none;
  font-size: 1.3rem;
  padding: 6.9px 0px 6.9px 16px;
  background-color: #009981;
  width: 100%;
  color: #fff;
  border: 1px solid #009981;
  border-radius: 6px 6px 0 0;
}
.completed-buy-phone-order-info-heading .heading-check-order-icon {
  font-size: 2rem;
  margin-right: 6px;
}

.completed-buy-phone-order-info-item {
  padding: 7px 10px;
  font-size: 1.3rem;
  font-weight: 400;
  color: #333;
}

.completed-buy-phone-order-info-id {
  margin-top: 6px;
}

.completed-buy-phone-order-item {
  display: flex;
  align-items: center;
  background-color: #eee;
  margin: 6px 16px 16px;
  box-shadow: 0 0 2px #eee;
  border: 1px solid #eee;
}

.completed-buy-phone-order-item-img img {
  width: 85px;
  height: 85px;
  object-fit: contain;
  padding: 9px 0;
}

.completed-buy-phone-order-item-namePhone {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  padding-bottom: 6px;
}

.completed-buy-phone-order-item-option {
  font-size: 1.3rem;
  font-weight: 400;
  color: #333;
  padding: 3px 0;
}

.completed-buy-phone-order-pay {
  background-color: #fafafa;
  border-radius: 6px;
  flex: 1;
}

.completed-buy-phone-order-pay-heading {
  display: flex;
  align-items: center;
  background-color: #00483d;
  color: #fff;
  font-size: 1.3rem;
  padding: 6.9px 0px 6.9px 16px;
  border-radius: 6px 6px 0 0;
  border: 1px solid #009981;
}
.completed-buy-phone-order-pay-heading .icon {
  font-size: 2rem;
  margin-right: 6px;
}

.completed-buy-phone-order-pay-type {
  display: flex;
}

.completed-buy-phone-order-pay-type-item {
  background-color: #00483d;
  border: 1px solid #00483d;
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  text-transform: uppercase;
  flex: 1;
  margin: 40px 12px 30px 12px;
  border-radius: 4px;
  transition: all 0.2s linear;
}
.completed-buy-phone-order-pay-type-item:hover {
  cursor: pointer;
  background-color: #009a82;
}
.completed-buy-phone-order-pay-type-item .icon {
  padding: 6px 0 10px;
  font-size: 2.6rem;
}
.completed-buy-phone-order-pay-type-item h3 {
  padding: 1px 0 12px;
}

.completed-buy-phone-back {
  text-align: center;
}
.completed-buy-phone-back button {
  border: 1px solid #00483d;
  background-color: #009981;
  font-size: 1.4rem;
  color: #fff;
  outline: none;
  cursor: pointer;
  padding: 8px 48.1px;
  border-radius: 6px;
  margin: 22px 0;
  transition: all 0.2s linear;
}
.completed-buy-phone-back button:hover {
  opacity: 0.8;
}

.header {
  text-align: center;
  margin-top: 90px;
}

.header-icon {
  font-size: 60px;
  color: #009981;
  margin-bottom: 18px;
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.header-text strong {
  color: #f7941e;
  font-size: 1.8rem;
}

.header-info {
  margin-right: 4px;
}

.infomation-text {
  font-size: 1.6rem;
  padding: 7px 0 16px;
}

.infomation-client {
  background: #fff 0% 0% no-repeat padding-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 8px;
  margin: 24px 0 20px;
  padding: 15px 15px 9px;
}

.infomation-item .name {
  display: flex;
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 8px;
}
.infomation-item .name p {
  margin-right: 4px;
}
.infomation-item .name strong {
  flex: 1;
}

.infomation-phone {
  background: #fff 0% 0% no-repeat padding-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 8px;
  padding: 15px;
}

.infomation-phone-item {
  display: flex;
}

.infomation-phone-item-text {
  text-align: center;
  border: 1px solid #dedede;
}
.infomation-phone-item-text h3 {
  font-size: 1.3rem;
  background-color: #009a82;
  color: #fff;
  padding: 6.2px 0;
  margin: 0 0.2px;
}
.infomation-phone-item-text strong {
  font-size: 1.5rem;
  display: block;
  padding: 21px 24px;
}

.infomation-phone-item-text-1 {
  flex: 1;
}

.infomation-phone-item-text-2 {
  flex: 0.5;
}

.infomation-phone-item-text-3 {
  flex: 0.5;
}

.infomation-phone-item-text-4 {
  flex: 0.5;
}

.infomation-price-completed {
  text-align: right;
}

.infomation-price-completed-item {
  margin-top: 18px;
}

.infomation-price-completed-item-text {
  display: flex;
  justify-content: flex-end;
  font-size: 1.3rem;
  color: #333;
  font-weight: 400;
  margin: 6px 6px 5px 0;
}
.infomation-price-completed-item-text span {
  margin-right: 21px;
}
.infomation-price-completed-item-text .active {
  color: #fd475a;
  font-weight: bold;
}
.infomation-price-completed-item-text p {
  flex: 0.2;
  text-align: center;
}

.completed-buy-phone-order-pay-momo .pay {
  font-size: 1.3rem;
  font-weight: 400;
  color: #333;
  padding: 8px 10px;
  border: 1px dashed #ccc;
  margin: 28px 10px 20px;
  text-align: center;
}
.completed-buy-phone-order-pay-momo .pay strong {
  color: red;
}
.completed-buy-phone-order-pay-momo .pay-info {
  color: #333;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.9rem;
  padding: 0 18px;
}
.completed-buy-phone-order-pay-momo .order-info .wrap-img {
  text-align: center;
  margin-top: 26px;
}
.completed-buy-phone-order-pay-momo .order-info img {
  width: 250px;
  object-fit: cover;
}
.completed-buy-phone-order-pay-momo .order-info .wrap-table {
  background: #ddd;
  border: 1px solid #222;
  font-size: 1.3rem;
  color: #333;
  font-weight: 400;
  margin: 26px 10px 10px;
  padding: 5px;
}
.completed-buy-phone-order-pay-momo .order-info .table {
  width: 100%;
}
.completed-buy-phone-order-pay-momo .order-info .table .active {
  color: red;
  font-weight: bold;
}
.completed-buy-phone-order-pay-momo .order-info .td {
  display: inline-block;
  margin-right: -7px;
  margin-bottom: 6px;
}

.header-cart-null {
  margin-top: 63px;
}

.header-cart-null-icon {
  margin-top: -26px;
}

.header-cart-null-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 22px;
}

.header-cart-null-img {
  margin-bottom: 17px;
}

.header-cart-null-footer-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 12px;
}

.buy-phone-product-action-add-cart {
  user-select: none;
}

.modal-popop-add-cart {
  display: none;
  position: fixed;
  bottom: 84px;
  left: 44%;
  background: #fff 0% 0% no-repeat padding-box;
  border-radius: 6px;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1607843137);
  padding: 25px 22px;
  color: #000;
  width: 280px !important;
  max-width: 280px !important;
  animation: fadeIn 0.5s linear;
}
@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.modal-popop-add-cart .wrap-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-popop-add-cart .icon {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 3.6px 4.4px;
  color: #fff;
  border-radius: 50%;
  background-color: #009981;
}
.modal-popop-add-cart p {
  font-size: 1.3rem;
  margin-left: 5px;
}
.modal-popop-add-cart button {
  margin-top: 12px;
  padding: 11px 35px;
  background-color: #009a82;
  outline: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
  width: 100%;
}
.modal-popop-add-cart button:hover {
  background-color: #006c5b;
}

.header-cart-value {
  background: #fff 0% 0% no-repeat padding-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 8px;
  padding: 16px;
  width: 622px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 21px;
}

.header-cart-value-img img {
  width: 180px;
  height: 255px;
  object-fit: contain;
}

.header-cart-value-name {
  font-size: 1.7rem;
  font-weight: bold;
  color: #333;
  margin-top: -8px;
}
.header-cart-value-option {
  font-size: 1.4rem;
  color: #333;
  margin-top: 5px;
}

.header-cart-value-price {
  font-size: 1.4rem;
  font-weight: bold;
  color: red;
  margin: 7px 0;
}
.header-cart-value-price span {
  color: #333;
  font-weight: 400;
}

.header-cart-value-buy {
  outline: none;
  font-size: 1.6rem;
  background: transparent linear-gradient(180deg, #fd475a 0%, #bf1e2d 100%) 0% 0% no-repeat padding-box;
  padding: 9px 60px;
  color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 3px #ccc;
  margin-top: 14px;
  transition: all 0.3s linear;
}
.header-cart-value-buy:hover {
  background: transparent linear-gradient(0deg, #fd475a 0%, #bf1e2d 100%) 0% 0% no-repeat padding-box;
  cursor: pointer;
}

.wrap-heading-cart-value {
  text-align: center;
  margin-top: 51px;
}

.wrap-cart-value {
  display: flex;
  justify-content: space-between;
}

.header-cart-value-1 {
  flex: 1;
}

.header-cart-value-11 {
  text-align: center;
  margin-top: 25px;
  margin-right: 26px;
  position: relative;
}

.cart-value-number {
  display: flex;
  justify-content: center;
}

.cart-value-number-text {
  font-weight: 400;
  margin-right: 10px;
}

.cart-value-clear-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 1.3rem;
  padding: 4px 4.8px;
  background-color: #fd5465;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  transition: all 0.1s linear;
}
.cart-value-clear-icon:hover {
  cursor: pointer;
  background: #f7941e;
}

.cart-value-info-phone {
  background: #fff 0% 0% no-repeat padding-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 8px;
  padding: 16px;
  width: 622px;
  margin: 0 auto;
  margin-top: 16px;
  text-align: left;
}
.cart-value-info-phone p {
  font-size: 1.3rem;
  color: #333;
  font-weight: bold;
  line-height: 21px;
}
.cart-value-info-phone .sumPrice-buy {
  color: red;
}

.input-search-phone {
  display: none;
  position: fixed;
  z-index: 900;
  background-color: #fff;
  width: 668px;
  left: 50%;
  transform: translateX(-48%);
  top: 116px;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  max-height: 404px;
  overflow-y: scroll;
  user-select: none;
}
.input-search-phone::-webkit-scrollbar {
  background-color: #ccc;
  width: 6px;
}
.input-search-phone::-webkit-scrollbar-thumb {
  background: #00483d;
  border-radius: 10px;
}

.input-search-phone-item {
  list-style-type: none;
}
.input-search-phone-item .not-data {
  text-align: center;
  padding: 40px 0;
  font-size: 1.3rem;
  color: red;
  font-weight: bold;
}

.input-search-phone-list {
  display: flex;
  padding: 10px 18px;
  transition: all 0.1s linear;
  position: relative;
}
.input-search-phone-list:hover {
  cursor: pointer;
  background-color: #e5e5e5;
}
.input-search-phone-list::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 95%;
  height: 1px;
  background-color: #e5e5e5;
}

.input-search-phone-img {
  margin-right: 12px;
}
.input-search-phone-img img {
  width: 65px;
  height: 65px;
  object-fit: contain;
}

.input-search-phone-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}
.input-search-phone-info .price {
  color: red;
  padding-top: 10px;
}

.add-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap-add-product {
  background-color: #fff;
  padding: 10px 116px;
  border-radius: 10px;
  box-shadow: 0 0 4px #e5e5e5;
  margin-top: 40px;
  font-size: 1.3rem;
  user-select: none;
}

.add-product-heading {
  color: #009981;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
}

.add-product-heading-active {
  color: red;
}

.add-product-heading-active-2 {
  color: violet;
}

.parent-add-product-img {
  position: relative;
  margin-bottom: 5px;
  padding: 3px 7px;
  background: #eee;
  display: inline-block;
  border-radius: 3px;
  box-shadow: 0 0 3px #ccc;
  width: 370px;
}
.parent-add-product-img .add-product-img {
  width: 214px;
  outline: none;
  border: none;
  background: #eee;
  font-size: 1.4rem;
}

.add-product-input {
  display: block;
  padding: 2px 3px;
  width: 370px;
  margin-bottom: 8px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1.5rem;
  background-color: #eee;
  color: #000;
}

.add-product-option {
  padding: 2px 3px;
  margin-bottom: 8px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1.5rem;
  background-color: #eee;
  color: #000;
  width: 182px;
  margin-right: 6px;
  flex: 1;
}

.wrap-btn-input {
  margin: 20px 0 10px -4px;
  text-align: center;
}

.product-btn {
  min-width: 122px;
  padding: 6px 12px;
  font-size: 1.5rem;
  border: none;
  background-color: #3f8e20;
  color: #fff;
  border-radius: 6px;
}

.product-btn-add:hover {
  cursor: pointer;
  background-color: #009a82;
}

.product-btn-add {
  margin-left: -6px;
  margin-right: 3px;
}

.product-btn-push {
  margin-right: 3px;
  background-color: #eeb53c;
}
.product-btn-push:hover {
  cursor: pointer;
  background-color: #e89f04;
}

.product-btn-delete {
  background-color: #ec506a;
}
.product-btn-delete:hover {
  cursor: pointer;
  background-color: #eb3251;
}

.wrap-input-1 {
  position: relative;
  margin-bottom: 19px;
}

.wrap-input-2 {
  position: relative;
}

.wrap-option {
  display: flex;
}

.wrap-option-phone {
  display: flex;
  margin-bottom: 9px;
}

.message-error {
  display: none;
  position: absolute;
  bottom: -17px;
  left: 6px;
  color: red;
  font-size: 1.2rem;
}

.message-error-2 {
  display: none;
  position: absolute;
  left: 2px;
  bottom: -8px;
  color: red;
  font-size: 1.2rem;
}

.add-product-img-text {
  color: #009981;
  font-weight: bold;
}

.label-input {
  display: block;
  margin: 26px 0 1px;
  color: #009981;
  font-weight: bold;
}

.label-input-2 {
  display: block;
  margin: 9px 0 1px;
  color: #009981;
  font-weight: bold;
}

.convert-add-product {
  margin-top: 7px;
  position: relative;
}
.convert-add-product:hover .convert-add-product-icon {
  cursor: pointer;
  color: #7fd6cb;
  border: 2px solid #7fd6cb;
}
.convert-add-product:hover .convert-add-product-icon-add {
  color: #7fd6cb;
}

.convert-add-product-icon {
  font-size: 3.2rem;
  padding: 4.3px;
  border: 2px solid #00483d;
  border-radius: 50%;
  color: #00483d;
  transition: all 0.2s linear;
}

.convert-add-product-icon-add {
  position: absolute;
  font-size: 1.3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #00483d;
}

.delete-wrap-product {
  margin-top: 30px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 3px #e5e5e5;
}

.delete-product-heading {
  padding-top: 23px;
}

.delete-product {
  padding: 0 75px;
}

.delete-product-item {
  list-style-type: none;
  margin: 0 314px;
  max-height: 404px;
  overflow-y: auto;
}
.delete-product-item::-webkit-scrollbar {
  width: 6px;
  background-color: #ccc;
  border-radius: 12px;
}
.delete-product-item::-webkit-scrollbar-thumb {
  background-color: #00917a;
  border-radius: 12px;
}
.delete-product-item .delete-phone-null {
  padding: 0 13px;
  border-radius: 8px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  background-color: rgba(127, 214, 203, 0.3);
}
.delete-product-item .delete-0 {
  color: #fd475a;
  text-align: center;
}
.delete-product-item .delete-0-icon {
  font-size: 3rem;
  color: red;
  font-weight: bold;
  margin-right: -2px;
}

.delete-product-list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  background-color: rgba(127, 214, 203, 0.3);
  color: #000;
  border-radius: 3px;
  box-shadow: 0 0 3px #7fd6cb;
  user-select: none;
  padding: 5px 6px;
  margin-bottom: 8px;
}

.delete-product-list-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.delete-product-list-text {
  font-weight: 500;
  margin: 0 7px 0 2px;
  flex: 1;
  line-height: 19px;
}

.delete-product-list-icon {
  color: red;
  font-size: 2.6rem;
  transition: all 0.1s linear;
}
.delete-product-list-icon:hover {
  cursor: pointer;
  color: #ff6801;
}

.wrap-btn-input-delete {
  text-align: center;
}

.popup-delete {
  display: none;
  position: fixed;
  top: 16%;
  right: 41px;
  font-size: 1.6rem;
  background-color: #77d169;
  padding: 7px 14px;
  color: #130fe2;
  border-radius: 5px;
  font-weight: 600;
  user-select: none;
  box-shadow: 0 0 3px #00483d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f4f4f4;
}

.app {
  min-height: 50vh;
  position: relative;
}

.overlay {
  display: none;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(194, 195, 196, 0.4);
}

.sosial {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 5.5%;
  display: inline-block;
  background: #f5f5f5 0% 0% no-repeat;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 30px;
}

.sosial-item {
  list-style-type: none;
}

.sosial-list {
  margin: 6px 0;
  transition: all 0.1s linear;
}
.sosial-list:hover {
  opacity: 0.6;
}

.sosial-list:first-child {
  margin-top: 0;
}

.sosial-list:last-child {
  margin-bottom: 0;
}

.sosial-list:first-child .sosial-link {
  padding: 8px 12.5px;
  color: #3c5a99;
  border: 2px solid currentColor;
  border-radius: 50%;
}

.sosial-list:nth-child(2) .sosial-link {
  padding: 8px 6.5px;
  color: #f00;
  border: 2px solid currentColor;
  border-radius: 50%;
}

.sosial-list:nth-child(3) .sosial-link {
  padding: 8px 9.5px;
  color: #e24e92;
  border: 2px solid currentColor;
  border-radius: 50%;
}

.sosial-list:last-child .sosial-link {
  padding: 8px 9.5px;
  color: #000;
  border: 2px solid currentColor;
  border-radius: 50%;
}

.sosial-link {
  display: inline-block;
}

.sosial-link-icon {
  font-size: 2.4rem;
}

.nav-active {
  color: #7fd6cb;
}

/*# sourceMappingURL=style.css.map */
